

.hero-icon{
  opacity: 0;
  transition:  .6s ease-out;
}
.hero-cambiarSeccion{
  transition: .6s ease-in-out;
}
.hero-cambiarSeccion:hover{
 transform: translateY(30px);
}
.hero-cambiarSeccion:hover .hero-icon{
  opacity: 1;
  scale: 1.5;

}
@keyframes moverDiv {
  0% {

    transform: translateX(30px) ; /* Mover -30px en el eje X */
  }


  100%{

    transform: translateX(0px)  ;
  }
}


.hero-info{
  animation: moverDiv .4s ease-in-out;
}
.navbarHome{
  position: relative;
  z-index: 999;
  background-color: black;
  color: white;
  box-shadow: 0px 5px 30px  30px #000;
}
.navbarOthert{
  position: relative;
  z-index: 999;
  background-color: white;
  color: rgb(0, 0, 0);
  box-shadow: 0px 5px 30px  30px #ffffff;
}

.bg-category-Animals{
border-radius:0 80px 0 80px ;
}
.clase{
  transition:  .3s ease-in-out ;

}

.loader {
  width: 145px;
  height:120px;
  background: linear-gradient(#0000 calc(1*100%/6),#fff 0 calc(3*100%/6),#0000 0),
            linear-gradient(#0000 calc(2*100%/6),#fff 0 calc(4*100%/6),#0000 0),
            linear-gradient(#0000 calc(3*100%/6),#fff 0 calc(5*100%/6),#0000 0);
  background-size: 10px 400%;
  background-repeat: no-repeat;
  animation: matrix 1.5s infinite linear;
}

@keyframes matrix {
  0% {
    background-position: 0% 100%, 50% 100%, 100% 100%
  }

  100% {
    background-position: 0% 0%, 50% 0%, 100% 0%
  }
}
